.bilingual-intro {
  margin: 3rem 0 3.5rem;
  text-align: center;
}

.bilingual-intro .intro-cn {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.bilingual-intro .intro-jp {
  font-size: 0.88rem;
  color: #666;
  line-height: 1.7;
}
